.admin-login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/imgs/map-teresina-webp.webp);
    background-size: cover;
    background-position: center;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    z-index: 9999;
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.admin-login-container.slide-up {
    transform: translateY(-100%);
}

.admin-login-card {
    background-color: black;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-right: 400px;
}

.admin-login-header {
    text-align: center;
    margin-bottom: 10px;
}

.admin-login-header h2 {
    margin: 0 0 5px 0;
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: .5rem;
}

.admin-login-header p {
    margin: 0;
    color: #6b7280;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.admin-login-error {
    background-color: #fef2f2;
    color: #ef4444;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.85rem;
    text-align: center;
    border: 1px solid #fecaca;
    font-weight: bold;
}

.admin-input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.admin-input-group input {
  border: none;
  background-color: transparent;
  border-radius: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 2px solid white;
  padding: 10px 0px; 
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.admin-input-group input::placeholder {
  color: white;
  opacity: 1;
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
}

.admin-input-group input:focus {
  border-bottom: 2px solid orange;
  box-shadow: none; 
}

.admin-btn-login {
    background-color: white;
    color: black;
    border: none;
    padding: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.05rem;
    margin-top: 10px;
    transition: background-color 0.2s, transform 0.1s;
}

.admin-btn-login:hover {
    background-color: orange;
}

.admin-btn-login:active {
    transform: scale(0.98);
}

.admin-btn-login:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
}

@media (max-width: 768px) {
  .admin-login-container {
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  .admin-login-card {
    margin-right: 0;
}
}