.detail-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  user-select: none;
}

.detail-modal-container {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
}

.detail-modal-header {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.detail-modal-header:hover {
  color: black;

  .btn-close-detail-top {
    color: black;
  }
}

.btn-close-detail-top {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.detail-modal-content {
  padding: 1.5rem;
}

.detail-info-group {
  margin-bottom: 1rem;
}

.detail-label {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #4b5563;
  letter-spacing: 0.05em;
  margin-bottom: 0.25rem;
  display: block;
}

.detail-value {
  font-size: 1rem;
  color: #4b5563;
  font-weight: 600;
  text-transform: capitalize;
}

.detail-reason-box {
  background-color: #f3f4f6;
  padding: 0.75rem;
  border-radius: 6px;
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 0.9rem;
  color: #4b5563;
}

.detail-modal-footer {
  padding: 1rem 1.5rem;
  display: flex;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
}

.btn-delete-event {
 padding: 0.5rem 1rem;
  background-color: #1f2937;
  color: white;
  border: none;
  border-bottom: 5px solid red;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-close-detail {
  padding: 0.5rem .9rem;
  background-color: #1f2937;
  color: white;
  border: none;
  border-bottom: 5px solid gray;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-edit-event {
  padding: 0.5rem .9rem;
  background-color: #1f2937;
  color: white;
  border: none;
  border-bottom: 5px solid #3b82f6;;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-delete-event:hover {
  background-color: red;
}

.btn-close-detail:hover {
  background-color: gray;
}


.btn-edit-event:hover {
  background-color: #3b82f6;;
}